<html><!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Catwyas</title>
</head>
<body>
    <h1>Ajouter un Catway</h1>
    <a href="/catways">Retour liste Catways</a>

    <form action="/catways/addCatways" method="POST">
        <label for="catwayNumber">Numéro du Catway:</label>
        <input type="text" id="catwayNumber" name="catwayNumber" required><br><br>

        <label for="catwayType">Type de Catway:</label>
        <input type="text" id="catwayType" name="catwayType" required><br><br>

        <label for="catwayState">État du Catway:</label>
        <input type="text" id="catwayState" name="catwayState" required><br><br>

        <button type="submit">Ajouter</button>
    
</body>
</html></html>>   