<!-- views/acceuil.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Page d'acceuil</title>
</head>
<body class="container">
    <h1>Bienvenue sur la page d'accueil du site API PORT DE RUSSEL</h1>
    <p>Cette application sert à connecter une API pour le Port de Russel pour la gestion des users, catways et reservations.</p>
    
    <form action="/dashboard" method="post" class="container2"> 
        <div class="login">
        <label for="email" class="mail">email :</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
    </div>
        
        <button type="submit">Accéder au tableau de bord</button>
    </form>
</body>
</html>
