<html><!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Utilisateur</title>
</head>
<body>
    <h1>Ajouter un Utilisateur</h1>
    <a href="/dashboard">Tableau de Bord</a>

    <form action="/users/" method="POST">
        <label for="username">Nom:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="text" id="password" name="password" required><br><br>

        <button type="submit">Ajouter</button>
        </form>
    
</body>
</html></html>>   